.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  margin: auto;

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  img {
    height: 500px;
  }

  .title-1 {
    font-size: 30pt;
    font-weight: 500;
  }

  .title-2 {
    font-size: 18pt;
  }
}

@media screen and (max-width: 1300px) {
  .login img {
    display: none;
  }
}