:root {
  --dash-first-card-bg: #d1e4d2;
  --dash-first-card-border-color: #516152;
}


@media (prefers-color-scheme: dark) {
  :root {
    --dash-first-card-bg: #2b362c;
  }
}

.dash-first-card {
  background: var(--dash-first-card-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-secondary);

  * {
    font-size: 10pt;
    font-weight: bold;
  }

  img {
    height: 60px;
    width: 60px;
  }

  .item-group {
    display: flex;
    column-gap: 5px;
    align-items: center;
  }

  .item-group-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .value {
      font-size: 20pt;
      font-weight: 500;
      color: var(--text);
    }
  }
}

.card-invoice {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}