.new-reg-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: var(--gap);

  .foot {
    margin-top: auto;
    margin-left: auto;


    button {
      width: 200px;
      margin-left: 10px;
    }
  }
}