.table {
  width: 100%;
  border-spacing: 0;
  
  thead th {
    font-weight: 500;
    background-color: var(--bg-tertiary);
  }

  th {
    padding: 10px;
  }
  th, td {
    text-align: start;
  }

  td {
    border-bottom: 1px solid var(--border-color);
    padding: 20px 10px;
    color: var(--text-secondary);
  }

  tr:first-child td {
    border-top: 1px solid var(--border-color);
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 9;
  }
}

.table-selectable {
  tr:hover, tr.selected {
    background-color: var(--bg-tertiary);
  }

  td {
    cursor: pointer;
  }
}